<div id="imgslide">
	<div class="slideshow">
		<div class="imageElement">
			<div class="imagetxt">
				<h3>We are Family.</h3>
				<p>As Brothers of Alpha Kappa Psi, we are each other's family
				   at Penn. We invite you to come get to know us. 
				   <a href="page.php?page=about-akpsi" class="open">Continue Reading &#187;</a></p>
			</div>
			<img src="/assets/frontpage/ramennight.jpg" class="full" width="690" height="445"/>
		</div>
		<div class="imageElement">
			<div class="imagetxt">
				<h3>Media & Entertainment Week</h3>
				<p>AKPsi invited representatives from MTV, Lionsgate, EA, and Ubisoft this year
				   for our annual M&E Week.
				   <a href="page.php?page=me-week" class="open">Continue Reading &#187;</a></p>
			</div>
			<img src="/assets/frontpage/m&e.jpg" class="full" width="690" height="445"/>
		</div>
		<div class="imageElement">
			<div class="imagetxt">
				<h3>Philly Rock 'n Roll Marathon</h3>
				<p>Brothers gather to hand out water for one of our annual 
				philanthropy traditions for the Philly Rock 'n Roll Marathon.
				<a href="page.php?page=community-service" class="open">Continue Reading &#187;</a></p>
			</div>
			<img src="/assets/frontpage/communityservice.jpg" class="full" width="690" height="445"/>
		</div>
	</div>
</div>
<div class="arrow" id="prev">
	<a id="prev2" href="#"><</a>
</div>
<div class="arrow" id="next">
	<a id="next2" href="#">></a>
</div>
<div id="news">
	<div id="newswrapper">
		<div id="events">
			<span class="title">Upcoming Events</span>
			<p>There are currently no upcoming events.</p>
		</div>
		<div id="rushus">
			<span class="title">Rush Us</span>
			<p>Whether you're a management science major eager to
			excel in the finance world, a creative artist hoping to
			delve into sales and marketing, or a bioengineer passionate
			about entrepreneurship, Alpha Kappa Psi realizes that talent
			comes in many forms. We understand that the business world is
			composed of only the best and brightest individuals from a wide
			array of majors and backgrounds. As Brothers, we strive for excellence
			in all aspects of our lives, and we know that you are doing the same.
			We invite you to learn more about who we are and what we stand for.
			<a href="mypage1.html" class="open">Learn More &#187;</a></p>
		</div>
	</div>
</div>