img{
	display: inline-block;
	padding-right: 20px;
}

#menu a {
	color: #000B60;
	font-size: 9pt;
}

#menu a:hover {
	color: #907E4F;
}

#menu .current {
	font-size: 9pt;
}

#pagetitle {
	color: #000B60;
	font-size: 26pt;
	word-spacing: 6px;
	font-family: 'bebas', sans-serif;
	padding: 20px 0 0;
	display: block;
}

h1, h2, h3 {
	font-size: 14pt;
	font-weight: normal;
	font-family: 'bebas', sans-serif;
	display: block;
	word-spacing: 2px;
}

h1 {
	font-size: 22pt;
}

h2 {
	font-size: 18pt;
}

#text{
	padding: 0;
	display: block;
}

#text a{
	color: #907E4F;
}

#text a:hover{
	color: black;
}

.content{
	padding: 0 60px 0;
	font-size: 11pt;
}